<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display image</title>
    <style>
        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Hi Your Entering in Photography World....</h1>
    <p>Is this giving you extrodinary experience in your career</p>
    <img src="camera_lense_0.jpeg" alt="Image">
</body>
</html>